body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: url('images/bg-image/scooter.svg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: 1200px 500px;
}

.logo img {
    height: 100px;
    width: auto;
    margin-left: 66px;
}

.main .h1 {
    font-size: 60px;
}

.main .h2 {
    font-size: 35px;
}

.main .p {
    font-size: 25px;
    font-weight: 100;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2rem;
}

.card {
    padding: 20px;
    box-shadow: 5px 10px 15px #707070;
    border-radius: 26px;
}

.text-screen {
    width: 360px;
}

.form-screen {

    width: 400px;
    margin-left: 460px;
}

form input[type="text"],
form input[type="text"],
form input[type="email"],
form input[type="phone"] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 11px;
    border: 1px solid #F4F4F5;
    background: #F4F4F5;
    padding: 15px;
    margin-bottom: 1.25rem;
}

.input-container {
    padding-top: 2px;
    padding-bottom: 10px;

}

.signup-btn {
    display: block;
    width: 100%;
    background: #57EEAB;
    color: #333131;
    font-weight: 700;
    border-radius: 11px;
    border: none;
    padding: 1em;
    font-size: 1rem;
}

.login {
    font-weight: 400;
}

footer {
    bottom: fixed;
    width: 100%;
    background: #FFFD8C;
    justify-content: center;
    display: flex;
    position: absolute;
}

form input[type="hours"],
form input[type="city"] {
    box-sizing: border-box;
    border-radius: 11px;
    border: 1px solid #F4F4F5;
    background: #F4F4F5;
    color: #707070;
    margin-bottom: 1.25rem;
    height: 30px;
    padding: 1em;
}

.calculate {
    display: block;
    width: 100%;
    height: auto;
    background: #FF8480;
    color: white;
    font-weight: 700;
    border-radius: 11px;
    border: none;
    padding: 10px;
}

.left,
.right {
    display: flex;
}

.flex-container {
    display: flex;
    padding: 5px;
}

.flex-container div,
img {
    padding: 10px;
}